<header>
    <div class="container">
      <img class="logo" src="img/logo.png" alt="Mi cerveza">
      <h2 class="title">Mi cerveza La Zaragozana</h2>
      <p class="subtitle">Aficiones y locuras de un amante de la cerveza</p>
      <nav>
        <button onclick="toggle_visibility('menu');" class="btnmenu">Menu</button>
        <ul id="menu" class="menu">
          <li class="menuitem">
            <a class="menulink" href="index.html">Inicio</a>
          </li>
          <li class="menuitem">
            <a class="menulink" href="cervezas.html">Cervezas</a>
          </li>
          <li class="menuitem">
            <a class="menulink" href="contactar.html">Contactar</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>